.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.descricao {
    max-width: 520px;
    margin-bottom: 12px;
    font-size: 0.95rem;
    line-height: 1.5;
    text-align: justify;
    color: #1f3c88;
}

.formulario {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    flex-grow: 1;
    justify-content: flex-end;
}

.formulario input {
    margin-bottom: 12px;
    padding: 12px;
    border: 1px solid #ddd;
    /* Cria uma borda cinza clara aos campos */
    border-radius: 8px;
    font-size: 1rem;
}

.botao {
    margin-bottom: 12px;
    padding: 12px;
    background-color: #1f3c88;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}

.resultado {
    margin-top: 15px;
    font-weight: bold;
    color: #1f3c88;
    font-size: 1.1rem;
}